/* A modern CSS reset (baseado em Andy Bell)
     https://andy-bell.co.uk/a-modern-css-reset/
*/


*, *::before, *::after {
    box-sizing: border-box;
}


* {
    margin: 0;
}


ul[role='list'], ol[role='list'] {
    list-style: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


html:focus-within {
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    line-height: 1.5;
}


a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}


img, picture {
    max-width: 100%;
    display: block;
}


input, button, textarea, select {
    font: inherit;
}


button, [role="button"] {
    cursor: pointer;
}


@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

