.site-footer {
    background-color: #333333;
    color: #FFFFFF;
    margin-top: 40px;
}

.footer-inner {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 3.25rem;
}


.footer-nav {
    display: flex;
    padding: 20px;
    min-width: 140px;
}

.footer-column ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.75rem;
}

.footer-nav strong {
    color: #EDEDED;
    font-size: 1.25rem;
    margin-bottom: 16px;
    display: block;
    padding: 0 16px 0 16px;
    white-space: nowrap;
    font-weight: 400;
}

.footer-nav li a {
    color: #FFFFFF;
    font-size: 1.25rem;
    gap:1rem;
    padding: 16px;
    white-space: nowrap;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-form input {
    border-radius: 30px;
    color: #AAAAAA;
    padding: 12px 20px;
    width: 344px
}

.footer-social span {
    margin-bottom: 16px;
    display: block;
}

.footer-social ul {
    display: flex;
    gap: 1.25rem;
}

.footer-social ul li a:hover img {
    opacity: 0.7;
}

.footer-bottom {
    color: #AAAAAA;
    text-align: center;
    padding: 20px;
    font-size: 1.25rem;
    position: relative;
}

.footer-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    right: 40px;
    border-top: 2px solid #FFFFFF;
}

 @media (max-width: 1070px) {
    .footer-inner {
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 2rem;
    }

    .footer-nav {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .footer-nav ul {
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 20px;
        padding: 0;
    }

    .footer-nav strong {
        margin-top: 1rem;
    }

    .newsletter-form input {
        width: 100%;
    }

    .footer-social ul {
        gap: 1rem;
    }

    .footer-column {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-bottom {
    font-size: 1rem;
    padding: 1.5rem 0 1.5rem;
    }
}
