.header-inner {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 20px);
  border-radius: 15px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background-color: #FFFFFF;
  max-width: 1320px;
}

.logo img {
  height: 48px;
  width: 150px;
}

.main-nav ul {
  display: flex;
  gap: 2.5rem;
}

.main-nav a,
.secondary-nav a {
  font-size: 1.25rem;
  color: var(--fonte-cor);
}

.main-nav a:hover,
.secondary-nav a:hover {
  color: #7c3aed;
}

.secondary-nav ul {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.secondary-nav img {
    height: 20px;
}

.secondary-nav a:hover img {
    opacity: 0.7;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.nav-toggle {
  display: none;
}

.nav-icon {
  display: none;
  width: 30px;
  height: 30px;
}

.nav-icon img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.nav-icon:hover img {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .header-inner {
    padding: 0.5rem 1rem;
  }

  .main-nav {
    display: none;
  }

  .nav-icon {
    display: block;
    cursor: pointer;
  }
}