.header-inner {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  width: 1260px;
  border-radius: 15px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background-color: #ffffff;
  max-width: 1320px;
}

.logo img {
  height: 48px;
  width: 150px;
}

.main-nav ul {
  display: flex;
  gap: 2.5rem;
}

.main-nav a,
.secondary-nav a {
  font-size: 1.25rem;
  color: var(--fonte-cor);
}

.main-nav a:hover,
.secondary-nav a:hover {
  color: #7c3aed;
}

.secondary-nav ul {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.secondary-nav img {
  height: 20px;
  margin: 0 auto;
}

.secondary-nav a:hover img {
  opacity: 0.7;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex: 1;
  margin-left: 10rem;
}

.nav-toggle {
  display: none;
}

.nav-icon {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1001;
}

.nav-icon img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.nav-icon:hover img {
  opacity: 0.7;
}

@media (max-width: 1280px) {
  .header-inner {
    width: calc(100% - 40px);
  }

  .nav-icon {
    display: block;
  }

  .nav-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 240px;

    flex-direction: column;
    align-items: flex-start;

    padding: 80px 20px 20px;
    gap: 2rem;
    
    background-color: #ffffff;
    border-radius: 15px;
    transition: right 0.3s ease;
  }
  
  .main-nav, .secondary-nav {
    width: 100%;
    text-align: center;
  }
  
  .main-nav ul, .secondary-nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }

  .main-nav li, .secondary-nav li {
    display: flex;
    width: 100%;
  }

.main-nav a, .secondary-nav a {
  display: block;
  width: 100%;
  text-align: center;

  padding: 0.3rem 0;
  border-bottom: 1px solid #EEEEEE;
  font-size: 1rem;
  }

  .nav-toggle:checked ~ .nav-container {
    right: 0;
  }
}
