.header-inner {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 20px);
  border-radius: 15px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background-color: #FFFFFF;
  max-width: 1320px;
}

.logo img {
  height: 48px;
  width: 150px;
}

.main-nav ul {
  display: flex;
  gap: 2.5rem;
}

.main-nav a,
.secondary-nav a {
  font-size: 1.25rem;
  color: var(--fonte-cor);
}

.main-nav a:hover,
.secondary-nav a:hover {
  color: #7c3aed;
}

.secondary-nav ul {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.secondary-nav img {
    height: 20px;
}

.secondary-nav a:hover img {
    opacity: 0.7;
}